body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0ebeb;
    height: 100%;
    width: 100%;
  }
  
  header {
     display: flex;
     position: relative;
    background-color: #a6c4a8;
    padding: 20px;
    box-shadow: 0px 10px 5px rgb( 0,0,2 , 0.2) ;
  }
  
  nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
  }
  
  section {
    position: relative;
    padding: 40px;
  }
  
  footer {
   
    
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  #reservas { 
    width: 100%;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  #reservas form,
  #patologias form {
  
    margin-top: 20px;
    width: 50%;
   
    
  }
  .lista-videos{
    display: flex;
   justify-content: space-around;
   gap: 5px;
   text-align:center;
   flex-wrap: wrap ;

  }
  #videos iframe {

    width: 300px;
    height: 200px;
    border-radius: 15px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  img{
    width: 250px;
    height: 200px;
  }
  .logo{
   
    position: absolute;
     right: 50px;
      top: 10px;
     
  }
  .logo img{
    width: 120px;
    height: 120px;
    align-items: center;
   }

  
  #donde-estamos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
